# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large ML files
*.pkl
*.pickle
*.joblib
*.h5
*.pt
*.pth

# Data files
*.csv
*.xlsx
*.zip